@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&display=swap');

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
   0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(5px, -5px); 
  }
  66% {
    transform: translate(-5px, -5px); 
  }
  100% {
    transform: translate(0, 0); 
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--white);
}

:root {
    --dark_blue: #1845e7;
    --navy_blue: #1F2F46;
    --light_blue: #75adf5;
    --bright_cyan: #2bb7da;
    --grayish_blue: #9698a6;
    --light_grayish_blue: #f3f4f6;
    --light_grey: #E0E0E0;
    --very_light_gray: #fafafa;
    --white: #ffffff;
    --cool-white: #F8F9F9;
    --primary-font: 18px;
}

p {
    font-family: "Manrope", sans-serif;
}

.hero {
    padding-bottom: 3rem;
}

.header-nav {
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 13%;
}

.header nav ul li {
    list-style: none;
    display: inline;
    margin: 0 1rem;
    position: relative;
}

.header nav ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--light_blue), var(--dark_blue));
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: all .4s ease-in;
}

.header nav ul li:hover::after {
    width: 100%;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--grayish_blue);
}

.header nav ul li a:hover,
.nav-active {
    color: var(--dark_blue);
}

button {
    padding: 1rem 2rem;
    font-size: .9rem;
    border-radius: 8rem;
    background: linear-gradient(to right, var(--light_blue), var(--dark_blue));
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background: var(--dark_blue);
}

.icon-menu {
    display: none;
}

.header-main {
    padding-left: 5rem;
    display: flex;
    align-items: center;
}

.header-main-left, .header-main-right {
    flex: 1;
    margin-top: 2rem;
}

.header-main-left {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

#text-display {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--grayish_blue);
}

.header-main-left h1 {
    color: var(--navy_blue);
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.header-main-left p {
    color: var(--navy_blue);
    width: 85%;
    line-height: 1.7rem;
    margin-bottom: 4rem;
    font-weight: 550;
    display: inline-block;
}

.hero-image {
    width: 100%;
    animation: fadeOut 1.5s ease-in-out forwards;
}



/* SECTION-HEADING */

.heading-2 {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.heading-3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--dark_blue);
}

.zoom-scroll {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.zoom-scroll.visible {
    transform: scale(1);
    opacity: 1;
}

.border-line {
    border-bottom: 2px dotted var(--dark_blue);
    margin: 0 32rem;
    margin-bottom: 2rem;
}



/* ABOUT-SECTION */

.about {
    background: var(--very_light_gray);
    padding: 3rem 5rem;
}

.about-wrapper {
    display: flex;
    align-items: center;
}

.about-wrapper-left, .about-wrapper-right {
    flex: 1;
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.about-wrapper-left {
    transform: translateX(-150px); 
}

.about-wrapper p {
    width: 90%;
    margin-bottom: 2rem;
    color: var(--grayish_blue);
    line-height: 1.7rem;
    transition: color 0.5s ease;
}

.about-wrapper p:hover {
    color: var(--navy_blue);

}

.about-wrapper-right {
    margin-bottom: 18rem;
    transform: translateX(150px); 
}

.slide-in-left-show {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right-show {
    opacity: 1;
    transform: translateX(0);
}

.about-wrapper-images {
    position: relative;
}
.about-images {
    width: 270px;
    height: 170px;
    box-shadow: 0 .5rem 1rem #11111188;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: .7rem;
}

.about-images--p1 {
    left: 7rem;
    top: 0rem;
}

.about-images--p2 {
    right: 4rem;
    top: 2rem;
}

.about-images--p3 {
    left: 12rem;
    top: 7rem;
}

.about-images:hover {
    outline: 2px dotted #1845e7;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem #11111185;
    z-index: 20;
}

.about-images:hover .about-images:not(:hover) {
    transform: scale(.95);
}



/* SERVICE SECTION */

.services {
    padding: 3rem 5rem;
    padding-bottom: 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

.card h3 {
    color: var(--dark_blue);
    font-weight: 600;
    font-size: 1.5rem;  
    padding: 1rem 0;  
}

.card-flex {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
    text-align: start;
    width: 35%;
    color: var(--grayish_blue);
    transition: color 0.5s ease;
}

.card-flex:hover {
  transform: translateY(-0.8rem) scale(1.03);
  border: 2px dotted #1845e7;
  border-top: none;
    color: var(--navy_blue);
    transition-delay: .2s;
}

.card-flex p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.card-flex img {
    width: 45px;
}

.card-flex ul {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 1rem;
    list-style: none;
}

.card-flex ul li {
    display: inline-block;
    padding: .5rem .8rem;
    margin-bottom: 1rem;
    border: 1px solid #1845e7;
    border-radius: 36px;
}

/* RADAR SECTION */

.radar {
    padding: 3rem 5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#radar-labels div {
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 25px;
    font-weight: 600;
    font-family: "Dancing Script", cursive;
    color: var(--navy_blue);
}

.radar-text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  z-index: 1000;
}

canvas {
  width: 35vw;
  height: 80vh;
  display: block;
}

.radar p {
    font-size: 1.2rem;
    line-height: 20px;
    text-align: center;
    margin: 0 60rem;
    background: rgba(255, 255, 255, 0.2); 
}

.left-text {
    position: absolute;
    top: 30%;
    left: -70%;
}

.right-text {
    position: absolute;
    bottom: 30%;
    right: -70%;
} 



/* ARTICLES SECTION */
.articles {
    background: var(--light_grayish_blue);
    padding: 3rem 8rem;
    padding-bottom: 1rem;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

.article-content {
    flex: 1;
    background: var(--white);
    border-radius: 10px;
    width: 110%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.article-content:hover {
    transform: translateY(-0.8rem) scale(1.03);
  border: 2px dotted #1845e7;
  border-top: none;
  color: var(--navy_blue);
    transition-delay: .2s;
}

.article-content > img {
    width: 100%;
    height: 10rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.article-text {
    padding: 0 20px;
}

.article-text h3 {
    font-weight: 400;
    font-size: 17px;
    color: var(--dark_blue);
}

.article-text p {
    color: var(--grayish_blue);
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
}

.article-btn {
    display: flex;
    justify-content: center;
    margin: 2rem;
}



/* FOOTER SECTION */

footer {
    background: var(--navy_blue);
    padding: 3rem 5rem;
    position: relative;
    padding-bottom: 2rem;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.footer-logo {
    width: 60%;
}


.footer-icons p {
    color: var(--white);
    font-size: 1.2rem;
    margin: 1rem 0;
}

.nav-text p {
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav li {
    list-style: none;
}

.footer-nav li a {
    text-decoration: none;
    color: var(--light_grayish_blue);
}

.footer-nav li a:hover {
    color: var(--dark_blue);
}

.socials-logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socials-logo p {
    color: var(--very_light_gray);
    font-size: 1.3rem;
}

.logo-list {
    display: block;
    flex-direction: row;
    list-style: none;
}

.logo-list li {
    display: inline-block;
}
  
.logo-list li img {
    width: 60%;
    margin-right: -3rem;
} 

.copyright {
    border-top: 1px dotted #c2c8d3;
    padding: 2rem;
    text-align: center;
    color: var(--white);
}

.top {
    border-radius: 30%;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    padding: .5rem;
}

.top img {
    width: 70%;
}



/* ABOUT PAGE */

.about-section {
    padding: 2rem 5rem;
}

.heading {
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--dark_blue);
    border-bottom: 2px dotted #1845e7;
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    animation: fadeOut 3s ease-in-out forwards;
}

.about-section-wrapper {
    border-bottom: 2px dotted #1845e7;
    padding: 3rem 0;
}

.about-wrapper-left h3 {
    padding: 1rem 0;
    color: var(--dark_blue);
    font-weight: 300;
    font-size: 2rem;
    font-weight: bold;
}

.about-right {
    margin-bottom: 0; 
    display: flex; 
    justify-content: center;
}

.about-image {
    width: 70%;
}

.about-image:hover {
    outline: 2px dotted #1845e7;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem #11111110;
    padding: 1rem;
    border-radius: 2rem;
}

.card-statement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 70%;
    margin: 2rem auto;
}

.about-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 20px;
    transition: transform 0.3s;
    color: var(--grayish_blue);
    transition: color 0.5s ease;
    height: 60vh;
}

.about-card:hover {
  transform: translateY(-0.8rem) scale(1.03);
  border: 2px dotted #1845e7;
  border-top: none;
    color: var(--navy_blue);
    transition-delay: .2s;
}

.about-card img {
    width: 35px;
}

.about-card h3 {
    padding: .5rem 0;
    color: var(--dark_blue);
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
}

.about-text-info {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem
}



/* CONTACT PAGE */ 

.contact {
    padding: 2rem 5rem;
}

.contact-card h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--grayish_blue);
    animation: fadeOut 3s ease-in-out forwards;
    text-align: center;
}

.book {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.book-form {
  margin: 2rem;
  padding: 3rem;
  border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.book-form h2, .direct-message h2{
    padding-bottom: 2rem;
    color: var(--dark_blue);
    font-weight: 300;
    font-size: 2rem;
}

.name-wrapper {
    display: flex;
    gap: 1rem;
}

.name {
    flex: 1;
}

.form-input {
  font-size: .8rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(6px);
  border: 1px dotted var(--dark_blue);
  /* border: none; */
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.form-radius {
    border-radius: 20px;
    height: 10rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s;
    text-align: left;
    color: var(--navy_blue);
}

.contact-btn, .about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    margin: 2rem 0;
    margin-top: 0;
  border-left: 2px dotted #1845e7;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.direct-message {
  margin-left: 3rem;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.message-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.message-card img {
    width: 13%;
}

.chat-bubble {
  width: 13rem;
  height: 50px;
  border-radius: 30px;
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  font-size: 18px;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  font-weight: bold;
}

.chat-bubble:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: float 2s ease-in-out infinite;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 12px;   
  width: 0;
  height: 0;
  border-right: 20px dotted transparent;
  border-left: 5px dotted transparent;
}

.whatsapp {
    background: #25D366;
}

.whatsapp::after {
    border-top: 17px dotted #25D366;
}

.instagram {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5
  );
}

.instagram::after {
    border-top: 17px dotted #fdaf4d;
}

.twitter {
    background: #111;
}

.twitter::after {
    border-top: 17px dotted #111;
}

.gmail {
    background: linear-gradient( 45deg, #3e65cf, #c71610, #f2a60c, #08851b);
}

.gmail::after {
    border-top: 17px dotted #6a4b90;
}

.location-flex {
    margin-left: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 280px; 
    position: relative;
}

 .contact-h2 {
    text-align: center;
    color: var(--navy_blue);
    font-weight: 400;
    margin: 1rem 0;
    font-size: 2;
 }

.globe-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.globe-text h2 {
    color: var(--dark_blue);
    font-weight: 400;
    font-size: 2rem;
}

.globe-text img {
    width: 50px;
}
  

/* BLOG PAGE */

.blog-section {
    padding: 2rem 5rem;
}

.blog-section h2 {
    color: #9698a6; 
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
}

.blog {
  display: grid;
  gap: 30px;
  max-width: 900px;
  margin: 3rem auto;
  margin-top: 0;
}


.blog-card {
  border: 1px dotted #eee;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.blog-card:hover {
    transform: translateY(-0.8rem) scale(1.03);
  border: 2px dotted #1845e7;
  color: var(--navy_blue);
    transition-delay: .2s;
}


.blog-card img {
  width: 45%;
  border-radius: 10px 0 0 10px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
}

.blog-text h3 {
    color: var(--dark_blue);
    font-size: 1.5rem;
}

.blog-text button {
    width: 35%;
}


@media (max-width: 600px) {
    .icon-menu {
        display: block;
        width: 8%;
    }
    
    .hero, .about, .services, .radar, .articles, footer {
        padding: 2rem;
    }
    
    .header-nav {
        padding: 1.5rem;
    }
    .header nav {
        position: fixed;
        top: 3rem;
        right: 0;
        width: 100%;
        transform: translateX(150%);
        transition: all .4s ease-out;
    }
    
    .header-nav nav ul {
        background: var(--white);
        width: 100%;
        height: 100vh;
        margin: 2rem 0;
        padding: 2rem;
        border-radius: .3rem;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    }
    
    .header-nav nav ul li {
        display: block;
        text-align: center;
        margin: 3rem 11rem;
        font-size: 2rem;
    }
    
    .logo {
        width: 30%;
    }
    
    .header button {
        display: none;
    }
    
    .header-main {
        flex-direction: column-reverse;
        padding-left: 0;
        text-align: start;
    }
    
    .header-main-left {
        margin: 0;
    }
    
    .header-main-right {
        margin-top: 0;
    }
    
    #text-display {
        margin: 0rem;
    }
    
    .header-main-left h1 {
        font-size: 2.7rem;
        margin: 1rem 0;
    }
    
    .header-main-left p {
        width: 100%;
        font-size: 0.9rem;
        margin-bottom: 2rem;
        padding-right: 2rem;
    }
    
    .hero-image {
        width: 330px;
    }
    
    .heading-2 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    .heading-3 {
        font-size: 15px;
    }
    
    .border-line {
        border-bottom: 2px dotted var(--dark_blue);
        margin: 0 12rem;
        margin-bottom: 0;
    }
    
    .about-wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .about-wrapper-left p {
        width: 100%;
        padding: 0 3rem;
    }
    
    
    .about-images {
        width: 170px;
        height: auto;
    }
    
    .about-images--p1 {
        left: -8rem;
    }
    
    .about-images--p2 {
        right: -5rem;
    }
    
    .about-images--p3 {
        left: -3rem;
        top: 6rem;
    }
    
    .about-wrapper-right {
        margin-bottom: 15rem;
        margin-top: 2rem;
    }
    
    #cards-section {
        height: auto;
    }
    
    .card {
        flex-direction: column;
        padding: 2rem;
        min-height: auto;
        margin: 0 2rem;
    }
    
    .card-flex {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1rem;
        width: 100%;
        border-radius: 10px;
    }
    
    .card-flex h2 {
        font-size: 1.2rem;
    }
    
    .radar-text {
        font-size: 1.5rem;
    }
    
    #radar-labels div {
        font-size: 1rem;
    }
    
    canvas {
        width: 58%;
        height: auto;
    }
    
    .article-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
    }
    
    .article-content {
        width: 100%;
        border-radius: 5px;
    }
    
    .article-btn {
        margin: 0;
        margin-top: 2rem;
    }
    
    .article-text {
        padding: 0 16px;
    }
    
    .article-text h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .article-text p {
        font-size: 0.9rem;
    }
    
    .footer-flex {
        flex-direction: column;
        gap: 2rem;
    }
    
    .footer-logo {
        width: 30%;
    }
    
    .footer-icons p {
        font-size: 1rem;
    }
    
    .footer-res {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-text, .socials-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-text p {
        display: none;
    }
    
    .footer-nav {
        flex-direction: row;
    }
    
    .socials-logo p {
        display: none;
    }
    
    .logo-list li img {
        width: 60%;
    }
    
    .top {
        bottom: 2rem;
        right: 2rem;
    }
    
    .card-statement {
        flex-direction: column;
        width: 80%;
    }
    
    .about-text-info {
        font-size: 1.1rem;
    }
    
    .about-right {
        margin-bottom: 0;
    }
    
    .book {
        flex-direction: column;
    }
    
    .contact {
        padding: 0rem 3rem;
    }
    
    .form-input {
        padding: 1rem .5rem;
    }
    
    .location {
        border-left: none;
    }
    
    .direct-message {
        margin-left: 0;
    }
    
    .blog {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }
    
    .blog-card {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .heading {
        padding: 1rem 0;
    }
    
    .about-section {
        padding: 0 3rem;
        padding-bottom: 2rem;
    }
    
    .about-section-wrapper {
        padding: 2rem 0;
    }
    
    .book-form {
        padding: 2rem;
        margin-bottom: 0;
    }
    
    .book-form h2 {
        padding-bottom: 1rem;
        font-weight: 1.8rem;
    }
    
    .chat-bubble {
        font-size: 15px;
        width: 10rem;
        height: 45px;
        padding-left: .8rem;
        gap: 1.2rem;
    }
    
    .location-flex {
        margin-left: 0;
        padding-top: 0;
    }
    
    .contact-h2 {
        margin-bottom: 2rem;
    }
    
    .blog-section {
        padding: 0rem 3rem;
    }
    
    .blog-section h2 {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    
    .blog-section h3 {
        font-size: 1.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .blog-card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    
    .blog-text button {
        width: 85%;
    }
    
    .blog-text p {
        display: -webkit-box;
        -webkit-line-clamp: 5; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} 



@media (max-width: 430px) {
    .hero-image {
        width: 310px;
    }

    .hero {
        padding-top: 0;
    }

    .header-main-left p {
        line-height: 1.5rem;
    }

    .header-nav nav ul li {
        margin: 3rem 7rem;
    }

    .border-line {
        border-bottom: 1.5px dotted var(--dark_blue);
        margin: 0 9rem;
    }

    .about-wrapper-left p {
        padding: 0;
    }

    .card {
        padding: 0; 
        margin: 0; 
        gap: 0;
    }

    #radar-labels div {
        font-size: .8rem;
        transform: translate(-53%, -141%);
    }

    .article-content > img {
    height: 14rem;
    }

    .article-container {
    grid-template-columns: repeat(1, 2fr);
    } 

    button {
    padding: 1rem 8rem;
    font-size: .8rem;
    }

    .top {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .footer-res {
        flex-direction: column;
        align-items: start;

    }
}


